<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Find and Replace</title>
    </head>
    <body>
        <div class="container">
            <h1>Find and Replace</h1>
            <form action="/find_replace">
                <div class="form-group">
                    <label for="phrase">Enter a phrase</label>
                    <input type="text" id="phrase" name="phrase" class='form-control'><br>
                    <label for="word_to_replace">Enter a word in the phrase to replace</label>
                    <input type="text" id="word_to_replace" name="word_to_replace" class='form-control'><br>
                    <label for="replace_with">Replace word with</label>
                    <input type="text" id="replace_with" name="replace_with" class='form-control'><br>
                </div>
                <button class="btn btn-success" type="submit">New Phrase</button>
            </form>
            <hr>
            <br>
            <div class="well">
                <h3>New phrase:</h3>
                <p>
                    {{ results }}
                </p>

            </div>
        </div>
    </body>
</html>
